
<div class="inlineHome">
<%=image_tag("personal.png") %>
<%=image_tag("personal.png") %>
<%=image_tag("personal.png") %>
<%=image_tag("personal.png") %>
<%=image_tag("personal.png") %>
<%=image_tag("personal.png") %>
</div>

<div class="inlineHome">
<%=image_tag("laptop.png") %>
<%=image_tag("laptop.png") %>
<%=image_tag("laptop.png") %>
<%=image_tag("laptop.png") %>
<%=image_tag("laptop.png") %>
<%=image_tag("laptop.png") %>
</div>
